{{ pageSetVar('title', 'Search Questions') }}
<h3>
    <span class="fa fa-edit"></span>
    {{ "Define Categories and Text for Example Questions"|trans }}
</h3>
<p>{{ "Choose the category and/or and search text you want for the question"|trans }}</p>
{{ showflashes() }}
        {{ form_start(form) }}
        {{ form_errors(form) }}
<fieldset>
    <legend>{{ 'Text Question'|trans }}</legend>
    {{ form_row(form.searchtext) }}
    {{ form_row(form.categories) }}
</fieldset>
<div class="form-group">
    <div class="col-lg-offset-3 col-lg-9">
        {{ form_widget(form.list, {'attr': {'class': 'btn btn-success'}}) }}
        {{ form_widget(form.cancel, {'attr': {'class': 'btn btn-cancel'}}) }}
    </div>
</div>
{{ form_end(form) }}
