{{ render(controller('ZikulaAdminModule:Admin:adminheader')) }}
<div class="menu">
    <h2>{{ __('Quick check administration menu.') }}</h2>
    <table>
        <tr>
           </tr>
        <tr>
            <td><a href="{{ path('paustianquickcheckmodule_admin_edittextquest') }}" class="fa">{{ __("Create Text Question") }}</a></td>
             <td><a href="{{ path('paustianquickcheckmodule_admin_edit') }}" class="fa">{{ __("Edit Exam") }}</a></td>

        </tr>
        <tr>
            <td><a href="{{ path('paustianquickcheckmodule_admin_edittfquest') }}" class="fa">{{ __("Create True/False Question") }}</a></td>
            <td><a href="{{ path('paustianquickcheckmodule_admin_modify') }}" class="fa">{{ __("Modify Exam") }}</a></td>
        </tr>
        <tr>
            <td><a href="{{ path('paustianquickcheckmodule_admin_editmcquest') }}" class="fa">{{ __("Create Multiple Choice Question") }}</a></td>
            <td><a href="{{ path('paustianquickcheckmodule_admin_editquestions') }}" class="fa">{{ __("Modify Question") }}</a></td>
        </tr>
        <tr>
            <td><a href="{{ path('paustianquickcheckmodule_admin_editmansquest') }}" class="fa">{{ __("Create Mult-Answer Question") }}</a></td>
            <td><a href="{{ path('paustianquickcheckmodule_admin_categorize') }}" class="fa">{{ __("Recatogorize questions") }}</a></td>
        </tr>
        <tr>
            <td><a href="{{ path('paustianquickcheckmodule_admin_editmatchquest')  }}" class="fa">{{ __("Create Matching Question") }}</a></td>
            <td><a href="{{ path('paustianquickcheckmodule_admin_findunanswered')  }}" class="fa">{{ __("Find Unexplained Questions") }}</a></td>
        </tr>
        <tr>
            <td><a href="{{ path('paustianquickcheckmodule_admin_importquiz' ) }}" class="fa">{{ __("Import an xml file listing questions.") }}</a></td>
            <td><a href="{{ path('paustianquickcheckmodule_admin_exportquiz') }}" class="fa">{{ __("Export an xml file of questions.") }}</a></td>
        </tr>
    </table>
</div>