<h3>
    <span class="fa fa-edit"></span>
    {{ "Edit an Exam"|trans }}
</h3>
<p>{{ "Give the exam a name and then pick the questions that you would like on the exam."|trans }}</p>
{{ showflashes() }}
{{ form_start(form) }}
{{ form_errors(form) }}
<fieldset>
    <legend>{{ 'Exam Name'|trans }}</legend>
    {{ form_row(form.quickcheckname) }}
</fieldset>
{{ questions|raw }}
<div class="form-group">
    <div class="col-lg-offset-3 col-lg-9">
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
        {{ form_widget(form.cancel, {'attr': {'class': 'btn btn-success'}}) }}
    </div>
</div>
{{ form_end(form) }}
