{{ pageAddAsset('javascript', zasset('jquery-ui/jquery-ui.js')) }}
{{ pageAddAsset('stylesheet', asset('jquery-ui/themes/base/jquery-ui.min.css')) }}
{{ pageAddAsset('stylesheet', zasset('@PaustianQuickcheckModule:css/highlighting.css')) }}
{# I struggled for hours trying to get the accordian interface to work. Only after realizing it was not including the jquery-ui.js did it fix #}
<h3>{{ __('Questions') }}</h3>
<div id="QuestionList">
    {% for category, question in questions %}
        <h3>{{ category }}</h3>
        <div>
            {% for item in question %}
                {% if buttons == 'radio' %}
                    <p>{{ item.id }}. <input type="radio" name="questions" value="{{ item.id }}"> {{ item.text }}</p>   
                    {% else %}
                        {% if item.ck %}
                        <p class="red">{{ item.id }}. <input type="checkbox" name="questions[]" value="{{ item.id }}" checked> {{ item.text }}</p>
                        {% else %}
                        <p>{{ item.id }}. <input type="checkbox" name="questions[]" value="{{ item.id }}"> {{ item.text }}</p>
                        {% endif %}
                    {% endif %}
                {% endfor %}
        </div>
    {% endfor %}
</div>
<script type="text/javascript">
    (function ($) {
        $('#QuestionList').accordion({
            collapsible: true,
            heightStyle: "content"
        });
    })(jQuery);
</script>