{% form_theme form 'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig' %}
{{ pageAddAsset('stylesheet', zasset('@PaustianQuickcheckModule:css/forms.css')) }}
{{ pageAddAsset('javascript', zasset('@PaustianQuickcheckModule:js/Paustian.Quickcheck.viewquestion.js')) }}
{{ render(controller('ZikulaAdminModule:Admin:adminheader')) }}
<div class="container-fluid">
    <div class="row">
        <h3>
            <span class="fa fa-edit"></span>
            {{ __("New Text Question") }}
        </h3>
        <p>{{ __("Write your new text question in the text box, provide a model answer, and explain the correct answer") }}</p>
        {{ showflashes() }}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <input id="type" type="hidden" name="type" value="0"> <!- multiple choice type ->
        <fieldset>
            <legend>{{ __('Text Question') }}</legend>
            {{ form_row(form.quickcheckqtext, {'attr': {'class': 'qc_question'}}) }}
            {{ form_row(form.quickcheckqanswer, {'attr': {'class': 'qc_answer'}}) }}
            {{ form_row(form.quickcheckqexpan, {'attr': {'class': 'qc_question'}}) }}
            {{ form_row(form.categories) }}
        </fieldset>
        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-9">
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
                <button id="preview_button" type="button" class="btn btn-success" name="preview" value="preview">
                    {{ __('Preview Question') }}
                </button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
<div id="preview_div" title="Preview Question" style="text-align: left">
</div>
{{ render(controller('ZikulaAdminModule:Admin:adminfooter')) }}