<h3>
    <span class="fa fa-edit"></span>
    {{ "Edit or Delete Questions"|trans }}
</h3>
<p>{{ "Select a question to edit or delete. You can also select a series of questions to delete, by clicking on the check box and then choosing the delete button"|trans }}</p>
<form action="{{ path('paustianquickcheckmodule_admin_modifyquestion') }}" method="post"
      enctype="application/x-www-form-urlencoded">
    <fieldset>
        {{ questions|raw }}
    </fieldset>
    <div class="form-group">
        <div class="col-lg-offset-3 col-lg-9">
            <button class="btn btn-success" type="submit" name="edit" value="edit">
                {{ 'Edit'|trans }}
            </button>
            <button class="btn btn-success" type="submit" name="delete" value="delete"
                    onclick="return confirm({{ 'Are you sure you want to delete the question?'|trans }})">
                {{ 'Delete'|trans }}
            </button>
        </div>
    </div>
</form>

