{{ render(controller('ZikulaAdminModule:Admin:adminheader')) }}
<div class="container-fluid">
    
    <div class="row">
        <h3>
            <span class="fa fa-edit"></span>
            {{ __("Edit or Delete Questions") }}
        </h3>
        <p>{{ __("Select a question to edit or delete. You can also select a series of questions to delete, by clicking on the check box and then choosing the delete button") }}</p>
        <form action="{{ path('paustianquickcheckmodule_admin_modifyquestion') }}" method="post" enctype="application/x-www-form-urlencoded">
        <fieldset>
            {{ questions|raw }}
        </fieldset>
        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-9">
                <button class="btn btn-success" type="submit" name="edit" value="edit">
                        {{ __('Edit') }}
                </button>
                <button class="btn btn-success" type="submit" name="delete" value="delete" onclick="return confirm('Are you sure you want to delete the question?')">
                        {{ __('Delete') }}
                </button>
            </div>
        </div>
        </form>
    </div>
</div>
{{ render(controller('ZikulaAdminModule:Admin:adminfooter')) }}
