{{ pageAddAsset('stylesheet', zasset('@PaustianQuickcheckModule:css/forms.css')) }}
{{ pageAddAsset('javascript', zasset('@PaustianQuickcheckModule:js/Paustian.Quickcheck.viewquestion.js')) }}
{% if hasPermission('PaustianQuickcheckModule::', '::', 'ACCESS_ADMIN') %}

{% endif %}
<h3>
    <span class="fa fa-edit"></span>
    {{ "New Multiple-Choice Question"|trans }}
</h3>
<p>{{ __("Write your new Multiple-Choice question in the text box. Write the answers in the textbox. One choice per line, followed by a | charcter.
After the | put the percent correct for that anwer. One of the answers should be set to 100 and the others set to 0. Finally explain the correct answer in the explanation box. Here is
an example of how the text in the answer box should look") }}</p>
<fieldset>
    <legend>{{ 'Example Question Format'|trans }}</legend>
    <div class="form-group"><label class="col-sm-3 control-label required">{{ "Question"|trans }}</label>
        <div class="col-sm-9">
                <textarea id="misc" class="qc_question form-control noeditor"
                          readonly>{{ "The most livable mid-size city in America is... "|trans }}</textarea>
        </div>
    </div>
    <div class="form-group"><label class="col-sm-3 control-label required">{{ "Answer"|trans }}</label>
        <div class="col-sm-9"><textarea class="qc_answer form-control noeditor" readonly>
Milwaukee, WI|0
Peoria, IL|0
Madison, WI|100
San Bernadino, CA|0
Newark, NJ|0</textarea>
        </div>
    </div>
</fieldset>
{{ showflashes() }}
    {{ form_start(form) }}
    {{ form_errors(form) }}
<input id="type" type="hidden" name="type" value="1"> <!- multiple choice type ->
<fieldset>
    <legend>{{ 'Multiple-Choice Question'|trans }}</legend>
    {{ form_row(form.quickcheckqtext, {'attr': {'class': 'qc_question'}}) }}
    {{ form_row(form.quickcheckqanswer, {'attr': {'class': 'qc_answer noeditor'}}) }}
    {{ form_row(form.quickcheckqexpan, {'attr': {'class': 'qc_question'}}) }}
    {{ form_row(form.categories) }}
    {% if hasPermission('PaustianQuickcheckModule::', '::', 'ACCESS_ADMIN') %}
        {{ form_row(form.status) }}
    {% endif %}
</fieldset>
{% for hook_template in hook_templates %}
    {{ include(hook_template.0, hook_template.1, ignore_missing = true) }}
{% endfor %}
<div class="form-group">
    <div class="col-lg-offset-3 col-lg-9">
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
        <button id="preview_button" type="button" class="btn btn-success" name="preview" value="preview">
            {{ 'Preview Question'|trans }}
        </button>
        {{ form_widget(form.delete, {'attr': {'class': 'btn btn-danger'}}) }}
    </div>
</div>
{{ form_end(form) }}

<div id="preview_div" title="Preview Question" style="text-align: left">
</div>
