{% include 'PaustianQuickcheckModule:Admin:quickcheck_admin_menu.html.twig' %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>{{ __('Exam') }}</th>
            <th> {{ __('Actions') }} </th></tr>
    </thead>
    <tbody>
        {% for item in exams %}
            <tr>
                <td>{{ item.quickcheckname }}</td>
                <td class="actions">
                    <a href="{{ path('paustianquickcheckmodule_user_display') }}/{{ item.id }}" class="fa fa-eye"></a>
                    <a href="{{ path('paustianquickcheckmodule_admin_edit') }}/{{ item.id }}" class="fa fa-pencil"></a>
                    <a href="{{ path('paustianquickcheckmodule_admin_delete') }}/{{ item.id }}" class="fa fa-trash-o"></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

