{{ pageSetVar('title', 'Question to Moderate') }}
{{ pageAddAsset('javascript', zasset('jqueryui/jquery-ui.js')) }}
{{ pageAddAsset('stylesheet', asset('jquery-ui/themes/base/jquery-ui.min.css')) }}
{{ pageAddAsset('stylesheet', 'https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css') }}
{{ pageAddAsset('javascript', 'https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js') }}
{{ pageAddAsset('javascript', zasset('@PaustianQuickcheckModule:js/Paustian.Quickcheck.moderatequestions.js')) }}

<h3> {{ 'Current Questions for Moderation'|trans }}</h3>
<table id="tableToSort" class="table table-striped">
    <thead>
    <tr>
        <th id="id">{{ 'id'|trans }}</th>
        <th id="category">{{ 'Category'|trans }}</th>
        <th id="qText">{{ 'Question Stem'|trans }}</th>
        <th id="qAnswer">{{ 'Question Answer'|trans }}</th>
        <th id="qExpan">{{ 'Question Explanation'|trans }}</th>
        <th id="qStatus">{{ 'Status'|trans }}</th>
        <th>{{ 'Actions'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for item in questions %}
        <tr id="{{ item.id }}">
            <td id="id_{{ item.id }}">{{ item.id }}<input id="type_{{ item.id }}" type="hidden" value="{{ item.quickcheckqtype }}" /></td>
            <td id="category_{{ item.id }}">{{ categories[item.id] }}</td>
            <td id="quickcheckqtext_{{ item.id }}">{{ item.quickcheckqtext }}</td>
            <td id="quickcheckqanswer_{{ item.id }}">{{ item.quickcheckqanswer }}</td>
            <td id="qExpan_{{ item.id }}">{{ item.quickcheckqexpan}}</td>
            <td id="qStatus_{{ item.id }}"><select id="qStatus_{{ item.id }}">
                    {% if item.status is same as(0) %}
                    <option value="0" selected="selected">{{ 'Public'|trans }}</option>
                    {% else %}
                    <option value="0">{{ 'Public'|trans }}</option>
                    {% endif %}
                    {% if item.status is same as(1) %}
                        <option value="1" selected="selected">{{ 'Moderated'|trans }}</option>
                    {% else %}
                        <option value="1">{{ 'Moderated'|trans }}</option>
                    {% endif %}
                    {% if item.status is same as(2) %}
                        <option value="2" selected="selected">{{ 'Hidden for Exam'|trans }}</option>
                    {% else %}
                        <option value="2">{{ 'Hidden for Exam'|trans }}</option>
                    {% endif %}
                    {% if item.status is same as(3) %}
                        <option value="3" selected="selected">{{ 'Hidden from Students'|trans }}</option>
                    {% else %}
                        <option value="3">{{ 'Hidden from Students'|trans }}</option>
                    {% endif %}
                </select></td>
            <td id="actions">
                <span id="edit_{{ item.id }}" class="fas fa-pencil-alt" title="Edit in place"></span>
                <span id="preview_button_{{ item.id }}" class="fa fa-eye" title="Preview Question"></span>
                <a href="{{ path('paustianquickcheckmodule_admin_modifyquestion', {"question": item.id, "modify": 2}) }}"><span id="link_{{ item.id }}" class="fa fa-edit" title="Edit in interface."></span></a>
                <span id="delete_{{ item.id }}" class="fa fa-trash" title="Delete question"></span>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{%  if deleteRows %}
<div id="delete_rows"></div>
{% endif %}
<div id="preview_div" title="Preview Question" style="text-align: left">
</div>
