{{ pageAddAsset('stylesheet', zasset('@PaustianQuickcheckModule:css/forms.css')) }}
{{ pageAddAsset('javascript', zasset('@PaustianQuickcheckModule:js/Paustian.Quickcheck.viewquestion.js')) }}

<h3>
    <span class="fa fa-edit"></span>
    {{ "New Text Question"|trans }}
</h3>
<p>{{ "Write your new text question in the text box, provide a model answer, and explain the correct answer"|trans }}</p>
{{ showflashes() }}
        {{ form_start(form) }}
        {{ form_errors(form) }}
<input id="type" type="hidden" name="type" value="0"> <!- multiple choice type ->
<fieldset>
    <legend>{{ 'Text Question'|trans }}</legend>
    {{ form_row(form.quickcheckqtext, {'attr': {'class': 'qc_question'}}) }}
    {{ form_row(form.quickcheckqanswer, {'attr': {'class': 'qc_answer noeditor'}}) }}
    {{ form_row(form.quickcheckqexpan, {'attr': {'class': 'qc_question'}}) }}
    {{ form_row(form.categories) }}
    {% if hasPermission('PaustianQuickcheckModule::', '::', 'ACCESS_ADMIN') %}
        {{ form_row(form.status) }}
    {% endif %}
</fieldset>
{% for hook_template in hook_templates %}
    {{ include(hook_template.0, hook_template.1, ignore_missing = true) }}
{% endfor %}
<div class="form-group">
    <div class="col-lg-offset-3 col-lg-9">
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
        <button id="preview_button" type="button" class="btn btn-success" name="preview" value="preview">
            {{ 'Preview Question'|trans }}
        </button>
        {{ form_widget(form.delete, {'attr': {'class': 'btn btn-danger'}}) }}
    </div>
</div>
{{ form_end(form) }}
<div id="preview_div" title="Preview Question" style="text-align: left">
</div>
