{{ pageAddAsset('javascript', zasset('jquery-ui/jquery-ui.js')) }}
{{ pageAddAsset('stylesheet', asset('jquery-ui/themes/base/jquery-ui.min.css')) }}
{{ pageAddAsset('stylesheet', 'https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css') }}
{{ pageAddAsset('javascript', 'https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js') }}
{{ pageAddAsset('javascript', zasset('@PaustianQuickcheckModule:js/Paustian.Quickcheck.moderatequestions.js')) }}
{{ pageAddAsset('javascript', zasset('@PaustianQuickcheckModule:js/Paustian.Quickcheck.viewquestion.js')) }}
{{ render(controller('ZikulaAdminModule:Admin:adminheader')) }}

<h3> {{ __('Current Questions for Moderation') }}</h3>
<table id="tableToSort" class="table table-striped">
    <thead>
    <tr>
        <th id="id">{{ __('id') }}</th>
        <th id="category">{{ __('Category') }}</th>
        <th id="qText">{{ __('Question Stem') }}</th>
        <th id="qAnswer">{{ __('Question Answer') }}</th>
        <th id="qExpan">{{ __('Question Explanation') }}</th>
        <th id="qStatus">{{ __('Status') }}</th>
        <th>{{ __('Actions') }}</th>
    </tr>
    </thead>
    <tbody>
    {% for item in questions %}
        <tr id="{{ item.id }}">
            <td id="id_{{ item.id }}">{{ item.id }}<input id="type_{{ item.id }}" type="hidden" value="{{ item.quickcheckqtype }}" /></td>
            <td id="category_{{ item.id }}">{{ categories[item.id] }}</td>
            <td id="quickcheckqtext_{{ item.id }}">{{ item.quickcheckqtext }}</td>
            <td id="quickcheckqanswer_{{ item.id }}">{{ item.quickcheckqanswer }}</td>
            <td id="qExpan_{{ item.id }}">{{ item.quickcheckqexpan}}</td>
            <td id="qStatus_{{ item.id }}"><select id="qStatus_{{ item.id }}">
                    {% if item.status is same as(0) %}
                    <option value="0" selected="selected">{{ __('Public') }}</option>
                    {% else %}
                    <option value="0">{{ __('Public') }}</option>
                    {% endif %}
                    {% if item.status is same as(1) %}
                        <option value="1" selected="selected">{{ __('Moderated') }}</option>
                    {% else %}
                        <option value="1">{{ __('Moderated') }}</option>
                    {% endif %}
                    {% if item.status is same as(2) %}
                        <option value="2" selected="selected">{{ __('Hidden for Exam') }}</option>
                    {% else %}
                        <option value="2">{{ __('Hidden for Exam') }}</option>
                    {% endif %}
                </select></td>
            <td id="actions">
                <span id="edit_{{ item.id }}" class="fa fa-pencil" title="Edit in place"></span>
                <span id="preview_button_{{ item.id }}" class="fa fa-eye" title="Preview Question"></span>
                <a href="{{ path('paustianquickcheckmodule_admin_modifyquestion', {"question": item.id, "modify": 2}) }}"><span id="link_{{ item.id }}" class="fa fa-edit" title="Edit in interface."></span></a>
                <span id="delete_{{ item.id }}" class="fa fa-trash" title="Delete question"></span>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{%  if deleteRows %}
<div id="delete_rows"></div>
{% endif %}
<div id="preview_div" title="Preview Question" style="text-align: left">
</div>
{{ render(controller('ZikulaAdminModule:Admin:adminfooter')) }}