 <p>1. {{ question.question|raw }}</p>
    {% if question.type == 0 %} {# text #}
        <p><textarea cols="60" rows="5" name="{{ question.id }}" required>{{ question.answer }}</textarea>
    {%  endif %}
    {% if question.type == 1 %} {# multiple choice #}
        <ol class="upper-alpha">
            {% set answers = question.answer %}
            {% for answer in answers %}
                <li><input type="radio" name="{{ question.id }}" value="{{ question.param[loop.index0] }}_{{ loop.index0 }}" required> {{ answer|raw }}</li>
            {% endfor %}
        </ol>
    {% endif %}
    {% if question.type == 2 %} {# true/false #}
        <input type="radio" name="{{ question.id}}" value="1" required> {{'True' | trans }} <br/>
        <input type="radio" name="{{ question.id }}" value="0" required> {{'False' | trans }}<br />
    {% endif %}
    {% if question.type == 3 %} {# matching #}
        <input name="order_{{ question.id }}" id="order_{{ question.id }}" type="hidden" />
        {% set answers = question.answer %}
        <ul class="sortable_a">
            {% for answer in answers %}
                <li class="matching">{{ answer|raw }}</li>
            {% endfor %}
        </ul>
        {% set params = question.param[0] %}
        {% set position = question.param[1] %}
        <ul class="sortable_a" id="sortable{{ question.id }}">
            {% for match in params %}
                <li class="matching" id="item_{{ position[loop.index0] }}">  <span class="fa fa-arrows-v"></span>  {{ match|raw }}</li>
            {% endfor %}
        </ul>
        <br />
    {% endif %}
    {% if question.type == 4 %} {# multiple answer #}
        <ol class="upper-alpha">
            {% set answers = question.answer %}
            {% for answer in answers %}
                <li><input type="checkbox" name="{{ question.id }}[]" value="{{ question.param[loop.index0] }}_{{ loop.index0 }}"> {{ answer|raw }}</li>
            {% endfor %}
        </ol>
    {% endif %}
