{{ pageAddAsset('stylesheet', zasset('@PaustianQuickcheckModule:css/forms.css')) }}
{{ pageAddAsset('javascript', zasset('jquery-ui/jquery-ui.js')) }}
{{ pageAddAsset('stylesheet', asset('jquery-ui/themes/base/jquery-ui.min.css')) }}
{% set formScript %}
    <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                {% for question in questions %}
                {% if question.type == 3 %}
                $("#sortable{{ question.id }}").sortable({
                    update: function (event, ui) {
                        var Order = $(this).sortable('serialize');
                        $('#order_{{ question.id }}').val(Order);
                    }
                });
                $("#sortable{{ question.id }}").disableSelection();
                {% endif %}
                {% endfor %}
            });
        })(jQuery);
    </script>
{% endset %}
{{ pageAddAsset('footer', formScript) }}

{#  render the admin interface #}
{{ admininterface | raw }}

<h3>
    <span class="fa fa-book"></span>
    {{ exam_name }}
</h3>
<p>{{("Answer the questions below and then hit the Grade Exam button"|trans) }}</p>
<form action="{{ path('paustianquickcheckmodule_user_gradeexam') }}" method="post"
      enctype="application/x-www-form-urlencoded">
    {% if print==false %}<input type="hidden" name="q_ids" value="{{ q_ids }}" />{% endif %}
    {% if print==false %}<input type="hidden" name="return_url" value="{{ return_url }}" />{% endif %}
    {% for question in questions %}
        {% if print %}
            {% set qID = question.id %}
        {% else %}
            {% set qID = "" %}
        {% endif %}
        <p>{{ qID }} {{ loop.index }}. {{ question.question|raw }}</p>
        {% if question.type == 0 %} {# text #}
            {% if print==false %}
                <p><textarea cols="60" rows="5" name="{{ question.id }}" required></textarea>
            {% else %}
                <br/>
                <br/>
                <br/>
                <br/>
            {% endif %}
        {% endif %}
        {% if question.type == 1 %} {# multiple choice #}
            <ol class="upper-alpha">
                {% set answers = question.answer %}
                {% for answer in answers %}
                    <li>{% if print == false %}<input type="radio" name="{{ question.id }}"
                                                      value="{{ question.param[loop.index0] }}_{{ loop.index0 }}"
                                                      required>{% endif %} {{ answer|raw }}</li>
                {% endfor %}
            </ol>
        {% endif %}
        {% if question.type == 2 %} {# true/false #}
            <ol class="upper-alpha">
                <li>{% if print==false %}<input type="radio" name="{{ question.id }}" value="1"
                                                required>{% endif %} {{('True'|trans) }}</li>
                <li>{% if print==false %}<input type="radio" name="{{ question.id }}" value="0"
                                                required>{% endif %} {{('False'|trans) }}</li>
            </ol>
        {% endif %}
        {% if question.type == 3 %} {# matching #}
            {% if print==false %}<input name="order_{{ question.id }}" id="order_{{ question.id }}"
                                        type="hidden" />{% endif %}
            {% set answers = question.answer %}
            <ul class="sortable_a">
                {% for answer in answers %}
                    <li class="matching">{{ answer|raw }}</li>
                {% endfor %}
            </ul>
            {% set params = question.param[0] %}
            {% set position = question.param[1] %}
            <ul class="sortable_a" id="sortable{{ question.id }}">
                {% for match in params %}
                    <li class="matching" id="item_{{ position[loop.index0] }}">{{ match|raw }}<span class="fas fa-ellipsis-v float-right"></span></li>
                {% endfor %}
            </ul>
            <br/>
        {% endif %}
        {% if question.type == 4 %} {# multiple answer #}
            <ol class="upper-alpha">
                {% set answers = question.answer %}
                {% for answer in answers %}
                    <li>{% if print==false %}<input type="checkbox" name="{{ question.id }}[]"
                                                    value="{{ question.param[loop.index0] }}_{{ loop.index0 }}">{% endif %} {{ answer|raw }}
                    </li>
                {% endfor %}
            </ol>
        {% endif %}
    {% endfor %}
    <br/>
    <div class="form-group">
        <div class="col-lg-offset-3 col-lg-9">
            <button class="btn btn-success" type="submit" name="create" value="create">
                {{('Grade Exam'|trans) }}
            </button>
        </div>
    </div>
</form>
<hr/>

