{{ pageSetVar('title', 'Results of Exam') }}
{{ pageAddAsset('stylesheet', zasset('@PaustianQuickcheckModule:css/forms.css')) }}
{{ pageAddAsset('javascript', zasset('jqueryui/jquery-ui.js')) }}
{{ pageAddAsset('stylesheet', asset('jqueryui/themes/base/jquery-ui.min.css')) }}
<h3>
    <span class="fa fa-book"></span>
    {{('Results of Exam'|trans) }}
</h3>
{% if (percent < 30)  %}
<p>Wow, you scored really badly on this exam. It could be you just clicked on anything to get to the answers. That's not a good way to study, so I am not going to let you know the answers. If you honestly did try to answer correctly, please contact your instructor for advice on how to study and prepare before you take these practice exams. Oh, by the way, all uses of these practice exams are recorded.</p>
{% else %}
<p>{{("Your total score was "|trans) }}{{ score }}{{(', which is '|trans) }} {{ percent }}{{('% correct. Here are the correct answers to the quiz you took and your answers.'|trans) }}</p>

{% for question in questions %}
    <div class='qc_question_group'>
        <p>{{ loop.index }}. {{ question.question |raw }}</p>
        {% if question.type == 0 %} {# text #}
            <h4>{{("Correct Answer"|trans) }}</h4>
            <p>{{ question.answer|raw }}</p>
            <h4>{{("Your Answer"|trans) }}</h4>
            <p>{{ student_answers[loop.index0] }}</p>
        {% endif %}
        {% if question.type == 1 %} {# multiple choice #}
            <ol class="upper-alpha">
                {% set answers = question.answer %}
                {% set params = question.param %}
                {% set uranswer = student_answers[loop.index0] %}
                {% for answer in answers %}
                    {% if params[loop.index0] == 100 %}
                        {% if uranswer == loop.index0 %}
                            <li><span class="fas fa-thumbs-up"></span> {{ answer|raw }} - {{('correct'|trans) }}
                                - {{('Your answer'|trans) }}</li>
                        {% else %}
                            <li><span class="fas fa-asterisk"></span>{{ answer|raw }} - <b>{{('correct'|trans) }}</b></li>
                        {% endif %}
                    {% else %}
                        {% if uranswer == loop.index0 %}
                            <li><span class="fas fa-thumbs-down"></span>{{ answer|raw }} -
                                <b>{{('Your answer'|trans) }}</b></li>
                        {% else %}
                            <li>{{ answer|raw }}</li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ol>
        {% endif %}
        {% if question.type == 2 %} {# true/false #}
            {% if question.answer == student_answers[loop.index0] %}
                {% if question.answer == 'yes' %}
                    <p><span class="fa fa-thumbs-o-up"></span>{{('True'|trans) }} {{('- Correct - Your answer'|trans) }}</p>
                    <p>{{('False'|trans) }}</p>
                {% else %}
                    <p>{{('True'|trans) }}</p>
                    <p><span class="fa fa-thumbs-o-up"></span>{{('False'|trans) }} {{('Correct - Your answer'|trans) }}</p>
                {% endif %}
            {% else %}
                {% if question.answer == 'yes' %}
                    <p><span class="fa fa-thumbs-o-up"></span>{{('True'|trans) }} <b>{{('Correct answer'|trans) }}</b></p>
                    <p><span class="fa fa-thumbs-o-down"></span>{{('False'|trans) }} <b>{{('Your answer'|trans) }}</b></p>
                {% else %}
                    <p><span class="fa fa-thumbs-o-down"></span>{{('True'|trans) }} <b>{{('Your answer'|trans) }}</b></p>
                    <p><span class="fa fa-thumbs-o-up"></span>{{('False'|trans) }} <b>{{('Correct answer'|trans) }}</b></p>
                {% endif %}
            {% endif %}
        {% endif %}
        {% if question.type == 3 %} {# matching #}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{('Item'|trans) }}</th>
                    <th>{{('Matching Item'|trans) }}</th>
                    <th>{{('Your Answer'|trans) }}</th>
                </tr>
                </thead>
                {% set answers = question.answer %}
                {% set params = question.param %}
                {% set ur_answers = student_answers[loop.index0] %}
                <tbody>
                {% for answer in answers %}
                    <tr>
                        <td>{{ answer|raw }}</td>
                        <td>{{ params[loop.index0]|raw }}</td>
                        <td>{{ params[ur_answers[loop.index0]]|raw }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if question.type == 4 %} {# multiple answer #}
            <ol class="upper-alpha">
                {% set answers = question.answer %}
                {% set uranswer = student_answers[loop.index0] %}
                {% for answer in answers %}
                    {% if uranswer[loop.index0] == 1 %}
                    {# 1-student correctly checked a correct answer #}
                    <li><span class="fas fa-thumbs-up"></span>{{ answer|raw }} - {{('Correct to check'|trans) }} - {{('You checked'|trans) }}</li>
                    {% endif %}
                    {% if uranswer[loop.index0] == 2 %}
                        {# 2 - student correctly didn't check #}
                        <li><span class="fas fa-thumbs-up"></span>{{ answer|raw }} - {{('Correct to not check'|trans) }}</li>
                    {% endif %}
                    {% if uranswer[loop.index0] == 3 %}
                        {# 3-student student checked a wrong answer #}
                        <li><span class="fas fa-thumbs-down">{{ answer|raw }}</span> - <b>{{('Checked an incorrect answer.'|trans) }} {{('You checked'|trans) }}</b></li>
                    {% endif %}
                    {% if uranswer[loop.index0] == 4 %}
                        {# 4 - student didn't check a correct answer #}
                        <li><span class="fas fa-thumbs-down">{{ answer|raw }}</span> - <b>{{('Did no check a correct answer.'|trans) }}</b></li>
                    {% endif %}
                {% endfor %}
            </ol>
        {% endif %}
        <p class="qc_explanation">Explanation: {{ question.explanation|raw }}</p>
    </div>
{% endfor %}
{% endif %}
